Flask==3.0.3
Jinja2==3.1.2
MarkupSafe==2.1.1
Flask-CORS
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
psycopg2==2.9.9
marshmallow==3.22.0
pytest
requests>=2.0.0
python-dotenv>=0.15.0
requests-mock>=1.9.3
marshmallow
